[Unit]
Description=Bazuka - zeeka-network blockchain instance
Requires=network.target
After=syslog.target network.target

[Service]
Type=forking
EnvironmentFile={{ bazuka.installation_path }}/bazuka.env
ExecStart={{ bazuka.installation_path }}/bin/bazuka --listen 0.0.0.0:8090
Restart=always
User=root
PIDFile={{ bazuka.installation_path }}/bazuka.pid
Environment="BAZUKA_PID_FILE_PATH={{ bazuka.installation_path }}/bazuka.pid"

[Install]
WantedBy=multi-user.target
